Emotion_Balanced*
emotion_balanced*
.ipynb_checkpoints
audio_file_normaliztion.py
selected_emotion_data_with_local_global_speaker.csv
Test
__MACOSX/._selected_emotion_data_with_local_global_speaker.csv
convert_emotion_files.py
